<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">




<bean id="contextData" class="com.commons.ContextData" lazy-init="true">
	
	<property name="GUEST_PASSWORD" value="guest"></property>
	<property name="DEFAULT_PASSWORD" value="9b7ecc6eeb83abf9ade10fe38865df4499be3568dcc507ae2ec3b44989cb0093"></property>
	<property name="ignoreServices">
		<list>
			<value>invalidAccess</value>
			<value>forget</value>
			<value>forgetEmailCheck</value>
			<value>resetlink</value>
			<value>resetPassword</value>
							
		</list>
	</property>
	
</bean>



</beans>