<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">

	<display-name>Portal</display-name>
	<display-name>:: PORTAL ::</display-name>
	


	<!-- Spring MVC -->
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		
		
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>




	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:applicationContext*.xml,		
			classpath*:spring-database.xml
		</param-value>
	</context-param>


	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>com.adminmodule.filters.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	
	
	
		<context-param>
		    <param-name>log4jConfigLocation</param-name>
		    <param-value>/WEB-INF/log4j.xml</param-value>
		</context-param>
		
		<listener>
		    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
		</listener>

	<!-- Error Page -->
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/common/error.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/common/error.jsp</location>
	</error-page>
	
	<welcome-file-list>
		<welcome-file>/WEB-INF/jsp/authentication/login.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>